textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.button {
  background-color: rgb(232, 232, 225);
  border-radius: 10px;
  color: black;
  border: solid 1px #e2e2e2 ;
}
